#StartScreen {
    margin: 0 auto;
    height: 600px;
    width: 900px;
    border: 2px solid rgb(204, 2, 2);
    box-shadow: 0 0 45px rgb(231, 39, 13);
}

#button {
    margin: 0 auto;
    margin-top: 185px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 15px white;
    color: white;
}

#startButton {
    display: flex;
    background-color: black;
    color: #ffffff;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    justify-content: center;
    cursor: pointer;
    line-height: 50px;
    align-items: flex-start;
}

#startButton:hover {
    display: flex;
    background-color: black;
    color: chartreuse;
    box-shadow: 0 0 45px chartreuse;
    margin: 0 auto;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    justify-content: center;
    margin-bottom: 10px;
}

#startButton:hover::after {
    position: absolute;
    margin-top: 250px;
    content: "Let`s Play!?";
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-shadow: 0 10px 55px rgb(255, 0, 0);
}

.fa-stumbleupon:before {
    font-size: 160px;
}